@font-face {
  font-family: Bikarosta;
  src: url('Bikarosta.ttf');
}

@font-face {
  font-family: Linecons;
  src: url('linecons.ttf');
}

@font-face {
  font-family: Computer;
  src: url('ComputerAmok.ttf');
}